*{padding:0;margin:0;}

a:hover{text-decoration:none !important}
ul li{list-style: none;}
.clear{
	clear: both;
}

body{
	/*font-family: 'Hel';*/
	font-size: 14px;
	background-color: #5E3610 !important;
}
a:hover {
    text-decoration: none !important;
}
.pdl-0{
	padding-left: 0px !important;
}
.pdr-0{
	padding-right: 0px !important;
}
.pdt-20{
	padding-top: 10px;
}
@font-face {
    font-family: 'Hel';
    src: url('../fonts/helveticaneue.ttf');
    font-style: normal;
}
header{
	width: 100%;
	float: left;
	margin-top: 30px;
}
.menu ul.list-menu{
	margin-top: 30px;
}
.menu ul.list-menu li{
	display: inline-block;
	margin-right: 0px;
}
.menu ul li a{
	font-size: 15px;
	text-transform: uppercase;
	color: #fff;
	padding:15px 10px;
}
.menu ul.list-menu li:hover a{
	background: #b88918;

}
.dropmenux{
	display: none;
	margin-top: 7px;
	padding-top: 0px;
	padding-bottom: 0px;
	border:none;
}
.submenux:hover > .dropmenux{
	display: block;
}
.dropmenux li{
	margin-right: 0px !important;
	width: 100%;
	
}
.dropmenux li a{
	padding-bottom: 5px !important;
	padding-top: 5px !important;
}
.slider{
	margin-top: 20px;
	width: 100%;
	float: left;
}
.slider img{
	width: 100%;	
}
.content-home{
	width: 100%;
	float: left;
	color: #fff;
}
.content-home .left{
	padding-left: 0px;
	text-align: justify;
}
.content-home .right{
	padding-right: 0px;
}
.owl-carousel-project .owl-prev {
    position: absolute;
    right: 25px;
    top: -25px;
}
.owl-carousel-project .owl-next {
    position: absolute;
    right: 10px;
    top: -25px;
}
.owl-carousel-project .owl-next i, .owl-carousel-project .owl-prev i {
    font-size: 20px;
}
.name-project-home{
	margin-top: 7px;
}
.owl-carousel-project .item a{
	color: #fff;
}
footer{
	width: 100%;
	float: left;
}
footer .row{
	color: #fff;
	margin-top: 30px;
	margin-bottom: 20px;
	background-color: #231406;
	padding:10px;
}
.vk-header__search {
    text-align: right;
    /*background: #ccc;*/
    padding: 10px;
    width: 100%;
    float: left;
}
.vk-menu__mobile {
    background: rgba(0,0,0,0.7);
    width: 100%;
    float: left;
    /* padding-left: 8px; */
}
.vk-header__search ._btn{
    color: #fff;
}
.vk-menu__mobile a {
    color: #fff;
    font-size: 16px;
    padding: 10px 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    display: block;
    width: 100%;
}
.content-about{
	margin-top: 20px;
}
.title-about{
	font-size: 18px;
	text-transform: uppercase;
}
.name-about{
	font-size: 14px;
	text-transform: uppercase;
}
.list-about{
	max-height: 300px;
	overflow-y: scroll;
}
.list-about::-webkit-scrollbar-thumb {
    background-color: red;
}
.list-about::-webkit-scrollbar {
    width: 3px;
    background-color: #A3A3A3;
    /*height: 100px;*/
}
.content-box{
	width: 100%;
	float: left;
	color: #fff;
	margin-top: 20px;
}
.content-box .left{
	padding-left: 0px;
}
.content-box .right{

}
.text-md-right{
	margin-bottom: 10px;
	margin-top: 10px;
}
ul.menu-cate li > a {
    font-size: 16px;
    
    color: #B88918;
    padding-left: 5px;
}
ul.menu-cate li > a.active{
	color: #fff;
}
ul.menu-cate li.parent > a{
	text-transform: uppercase;
	font-weight: bold;
	color: #fff;
}
ul.menu-cate li{
	margin-bottom: 3px;
	border-bottom: 1px solid #231406;
	padding-bottom: 2px;
}
ul.menu-cate li.parent{
	background-image: linear-gradient(to right, #231406 , #5E3610);
	border-bottom: none;
}
ul.menu-cate li:hover a{
	color: #fff;
}
.lienquan{
	width: 100%;
	float: left;
	margin-top: 30px;
}
.name_detail, .title-lienquan{
	font-size: 20px;
	text-transform: uppercase;
}
.name_detail i, .title-lienquan i{
	font-size: 17px;
	margin-right: 10px;
}
.list-item-box ._item{
	padding: 5px;
}
.list-item-box img{
	width: 100%;
}
.album-image-box{
	width: 100%;
	float: left;
}
.slick-dots{
	display: none !important;
}
.slider-for{
	/*width: 500px;*/
	height: 550px;
	margin: 30px auto 1px;
	overflow: hidden;
}
.slider-nav {
    width: 100%;
    height: 85px;
    /*margin: auto;*/
}
.slider-nav .slick-track{
	height: 85px;
}
.album-image-box img{
	width: 100%;
	min-height: 100%;
}
.slick-prev{
	display: none !important;
}
.slick-next{
	display: none !important;
}
.slider-nav .item{
	margin-left: 5px;
	margin-right: 5px;
}